
		
		<!--header-->
		<header class="header">
			<div class="content h-top">
				<div class="w-left h-top-l">
					<a href=""><%= image_tag("wotoken/wotoken-logo.png") %></a>
				</div>
				<div class="w-right h-top-r">
					<a href="javascript:toggle_lang();">EN <i class="fa fa-sort-down fa-2x" aria-hidden="true" id="lang-fa"></i>
						<div class="other-lang">
							<a href="/index-cn.html">CN</a>
						</div>
					</a>
				</div>
				
				<div class="h-middle">
					<div class="middle1">
						WO TOKEN DAPP
					</div>
					
					<div class="middle2">
						A New Safe Platform
					</div>
					
					<div class="middle3">
						The Digital Asset Management Tool With Simplifying Convenient Transaction
					</div>
					
					<div class="middle4">
						<a href=""><%= image_tag("wotoken/android.png") %> Download </a>
						<a href=""><%= image_tag("wotoken/IOS.png") %> Download </a>
					</div>
				</div>
			</div>
		</header>
		
		<!--content-->
		<section class="about">
			<div class="content">
				
				<div class="about-left">
					<div class="about-title">
						About Wo Token
					</div>
					<%= image_tag("wotoken/whitepaer.png") %>
				</div>
				
				<div class="about-right">
					<div class="about-right-content">
						<h1>WhitePaper</h1>
						<p>
							WO TOKEN is a comprehensive blockchain application consisting of WO TOKEN intelligent platform, WO TOKEN and digital asset bank card. With the products and services provided on WO TOKEN intelligent platform.
						</p>
						<div class="d-whitepaper">
							<a href="">Download</a>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		
		<section class="news">
			<div class="content">
				<div class="news-title">
					Get Started With WBD
				</div>
				<div class="news-content">
					<div class="item">
						<%= image_tag("wotoken/create.png") %>
						<div class="item-content">
							<p class="item-title"><b>Create An Account</b></p>
							<p class="item-p">
								Download WO TOKEN DAPP, Create an account by phone number or email.
							</p>
						</div>
					</div>
					<div class="item">
						<%= image_tag("wotoken/addasset.png") %>
						<div class="item-content">
							<p class="item-title"><b>Add Digital Asset</b></p>
							<p class="item-p">
								WO TOKEN wallet can add mainstream digital asset like BTC ETH LTC ETC. Platform coin 'WBD' can exchange others. 
							</p>
						</div>
					</div>
					<div class="item">
						<%= image_tag("wotoken/apollo.png") %>
						<div class="item-content">
							<p class="item-title"><b>Start Apollo Plan</b></p>
							<p class="item-p">
								WO TOKEN financial management tool, start Apollo plan, get more profit.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="links">
			<div class="content">
				<div class="links-title">
					Ecological Links
				</div>
				
				<div class="links-content">
					<div class="links-logo">
						<a href="http://www.sbigroup.co.jp"><%= image_tag("wotoken/link28.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://688ex.com"><%= image_tag("wotoken/link29.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://ethereum.org"><%= image_tag("wotoken/link30.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://fxempire.com"><%= image_tag("wotoken/link31.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://www.transglobalus.com"><%= image_tag("wotoken/link32.png") %></a>
					</div>
					
					<div class="links-logo">
						<a href="https://token.im"><%= image_tag("wotoken/link43.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://bitpie.com"><%= image_tag("wotoken/link36.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://mytoken.io"><%= image_tag("wotoken/link35.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://ccn.com"><%= image_tag("wotoken/link34.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://blog.bitcoin.co.id"><%= image_tag("wotoken/link33.png") %></a>
					</div>
					
					<div class="links-logo">
						<a href="https://btc.com"><%= image_tag("wotoken/link38.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://epay.com"><%= image_tag("wotoken/link39.png") %></a>
					</div>
					<div class="links-logo">
					<a href="https://forbes.ru/news"><%= image_tag("wotoken/link40.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://bitcoin.com"><%= image_tag("wotoken/link41.png") %></a>
					</div>
					<div class="links-logo">
						<a href="https://perfectmoney.is"><%= image_tag("wotoken/link42.png") %></a>
					</div>
				</div>
			</div>
		</section>
		
		<!--<section class="announcement">
			<div class="content">
				<div class="announcement-title">
					Announcement
				</div>
				<div class="a-item">
					<div class="a-left">
						 <div class="day">29</div>
						 <div class="month">September</div>
					</div>
					<div class="a-right">
						<div class="a-title">
							WO TOKEN DAPP 2.0 will be online
						</div>
						<div class="a-content">
							The upgrade of SAFE mainnet, is completed and Bitpie Wallet has finished the testing and upgrade targeting SAFE mainnet. Now the sending service of SAFE is resumed. Please upgrade your Bitpie Wallet to the latest version v3.4.6 and enjoy the sending service.
						</div>
					</div>
				</div>
				<div class="a-item">
					<div class="a-left">
						 <div class="day">29</div>
						 <div class="month">September</div>
					</div>
					<div class="a-right">
						<div class="a-title">
							WO TOKEN DAPP 2.0 will be online
						</div>
						<div class="a-content">
							The upgrade of SAFE mainnet, is completed and Bitpie Wallet has finished the testing and upgrade targeting SAFE mainnet. Now the sending service of SAFE is resumed. Please upgrade your Bitpie Wallet to the latest version v3.4.6 and enjoy the sending service.
						</div>
					</div>
				</div>
				<div class="a-item">
					<div class="a-left">
						 <div class="day">29</div>
						 <div class="month">September</div>
					</div>
					<div class="a-right">
						<div class="a-title">
							WO TOKEN DAPP 2.0 will be online
						</div>
						<div class="a-content">
							The upgrade of SAFE mainnet, is completed and Bitpie Wallet has finished the testing and upgrade targeting SAFE mainnet. Now the sending service of SAFE is resumed. Please upgrade your Bitpie Wallet to the latest version v3.4.6 and enjoy the sending service.
						</div>
					</div>
				</div>
			</div>
		</section>-->

		<!--footer-->
		<footer class="footer">
			<div class="content">
				<div class="w-left">
					&#169 2018 WoToken Network. All Rights Reserved.
				</div>
				<div class="w-right">
					<div class="footer-right">
						<a href="https://github.com"><%= image_tag("media/github.png") %></a>
						<a href="https://telagram.com"><%= image_tag("media/telegram.png") %></a>
						<a href="https://weibo.com"><%= image_tag("media/sina.png") %></a>
						<a href="https://linkedin.com"><%= image_tag("media/linkedin.png") %></a>
						<a href="https://twitter.com"><%= image_tag("media/twitter.png") %></a>
						<a href="https://facebook.com"><%= image_tag("media/facebook.png") %></a>
					</div>
				</div>
			</div>
		</footer>
		<%#= javascript_include_tag "wotoken" %>
		